{{ define "main" }}
<div class="post h-entry {{ range .Params.categories }} {{ . | urlize | lower }}{{ end }}">

  <header class="post-header">
    <a href="{{ .Permalink }}" class="post-date u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> ∞</a>
    {{ if .Title }}
    <h2 class="p-name">{{ .Title }}</h2>
    {{ end }}
  </header>

  <article class="post-content e-content">
    {{ .Content }}
  </article>

  {{ if .Params.categories }}
  <ul class="post-tags">
    {{ range .Params.categories }} {{ $href := print (absURL "categories/") (urlize .) }}
    <li><a href="{{ $href }}">#{{ . }}</a></li>
    {{ end }}
  </ul>
  {{ end }}

</div>
{{ if or (templates.Exists "partials/reply-by-email.html") (templates.Exists "partials/conversation-link.html") (templates.Exists "partials/plugin_tinylytics.html") (templates.Exists "partials/reply-on-mastodon.html")}}
<ul class="reply-buttons">
{{ if templates.Exists "partials/plugin_tinylytics.html" }}
      <li><button class="tinylytics_kudos">Kudos</button></li>
{{ end }}
{{ if templates.Exists "partials/reply-by-email.html" }}
    <li>{{ partial "reply-by-email.html" . }}</li>
{{ end }}
{{ if templates.Exists "partials/conversation-link.html" }}
  <li>{{ partial "conversation-link.html" . }}</li>
{{ end }}
{{ if templates.Exists "partials/reply-on-mastodon.html" }}
  <li>{{ partial "reply-on-mastodon.html" . }}</li>
{{ end }}
{{ end }}
</ul>

{{ if .Params.bluesky }}
  <a class="u-syndication" {{ printf "href=%q" .Params.bluesky.url | safeHTMLAttr }} style="display: none;">Also on Bluesky</a>
{{ end }}

{{ if .Site.Params.include_conversation }}
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}

{{ end }}
