{{ define "main" }}
<div class="post h-entry">

  <header class="post-header">
	{{ if .Title }}
	  	<h2 class="p-name">{{ .Title }}</h2>
  	{{ end }}
  	<p class="post-meta"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time></p>
  </header>

  <article class="post-content e-content">
	{{ .Content }}
  </article>

</div>

{{ if .Site.Params.include_conversation }}
{{ partial "conversation-link.html" . }}
<script type="text/javascript" src="https://micro.blog/conversation.js?url={{ .Permalink }}"></script>
{{ end }}

{{ end }}