body {
	max-width: 45em;
	margin: 2em auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1.1em;
	padding: 0 1em;
	line-height: 1.6;
}

header {
	margin-bottom: 2em;
}

header h1 a, header h1 a:visited, nav a, nav a:visited {
	text-decoration: none;
	color: black;
}

nav a {
	text-decoration: underline;
}

header h1 a:hover, nav a:hover {
	color: #333;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 1em;
}

ul.post_list {
	list-style-type: none;
	padding: 0;
}

ul.post_list li {
	display: flex;
	justify-content: space-between;
	line-height: 1.4;
	margin: .8em 0;
}

ul.post_list .dt-published {
	flex-shrink: 0;
}

.post-nav {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	text-align: center;
}

.post-nav span {
	padding: 0 5px;
}

.post-nav a:visited {
	color: #3300FF;
}

.post-meta {
	color: #666;
}

.microblog_conversation {
	max-width: 600px;
}
.microblog_post {
	margin-bottom: 1em;
}
.microblog_user {
	font-weight: bold;
}
.microblog_user img {
	vertical-align: middle;
	width: 40px;
	height: auto;
	border-radius: 40px;
	max-width: 40px !important;
}
.microblog_time a, .microblog_time a:visited {
	color: #666;
	font-size: 0.8em;
}

footer {
	text-align: center;
}

footer .custom_footer {
	font-size: 0.8em;
}