body {
	max-width: 45em;
	margin: 2em auto;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1.1em;
	padding: 0 1em;
}

header {
	margin-bottom: 2em;
}

header h1 a {
	text-decoration: none;
	color: black;
}

header h1 a:hover {
	color: #333;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 1em;
}

ul.post_list {
	list-style-type: none;
	padding: 0;
}

ul.post_list li {
	display: flex;
	justify-content: space-between;
	line-height: 1.4;
	margin: .5em 0;
}

ul.post_list .dt-published {
	flex-shrink: 0;
}