{{ define "main" }}
<div class="page">

  {{ if templates.Exists "partials/microhook-before-page-content.html" }}
  {{ partial "microhook-before-page-content.html" . }}
  {{ end }}

  {{ if .Title }}
  <h2 class="p-name">{{ .Title }}</h2>
  {{ end }}

  {{ if .Params.reply_to_url }} <a href="{{ .Permalink }}" class="post-date u-url"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time> ∞</a>
  <div class="reply-to"> Replying to: {{ if eq .Params.reply_to_hostname "micro.blog" }} <a href="{{ .Params.reply_to_url }}" class="u-in-reply-to">@{{ .Params.reply_to_username }}</a> {{ else }} <a href="{{ .Params.reply_to_url }}" class="u-in-reply-to">{{ .Params.reply_to_hostname }}</a> {{ end }} </div> {{ end }}

  <article class="post-content">
    {{ .Content }}
  </article>

  {{ if templates.Exists "partials/microhook-after-page-content.html" }}
  {{ partial "microhook-after-page-content.html" . }}
  {{ end }}

</div>
{{ end }}
