<footer class="site-footer">

  <div class="wrapper">
    {{ if templates.Exists "partials/microhook-footer.html" }}
    {{ partial "microhook-footer.html" . }}
    {{ else }}
    <p class="custom_footer">{{ partial "custom_footer.html" . }}</p>
    {{ end }}
    <p class="attribution custom_footer">Hosted by <a href="https://micro.blog">Micro.blog</a>. Powered by <a href="https://tiny.micro.blog">Tiny Theme</a>. Designed with ♥ by <a href="https://www.mattlangford.com">Matt Langford</a>.</p>
  </div>

</footer>
