<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="twitter:card" content="summary">
  {{ with .Title }}
  <meta name="twitter:title" content="{{ . }}">
  <meta property="og:title" content="{{ . }}">
  {{ else }}
  <meta name="twitter:title" content="{{ .Site.Title }}">
  <meta property="og:title" content="{{ .Site.Title }}">
  {{ end }}
  {{ if .IsHome }}
  <meta name="twitter:description" content="{{ .Site.Params.itunes_description | truncate 125 }}">
  <meta name="og:description" content="{{ .Site.Params.itunes_description | truncate 60 }}">
  <meta name="description" content="{{ .Site.Params.itunes_description }}">
  <meta name="twitter:image" content="{{ .Site.Author.avatar }}">
  <meta property="og:image" content="{{ .Site.Author.avatar }}">
  {{ else }}
  <meta name="twitter:description" content="{{ .Summary | truncate 60 }}">
  <meta name="og:description" content="{{ .Summary | truncate 60 }}">
  <meta name="description" content="{{ .Summary }}">
  {{ end }}
  {{ range .Params.photos }}
  <meta name="twitter:image" content="{{ . }}">
  <meta property="og:image" content="{{ . }}">
  {{ end }}
  <title>{{ block "title" . }}{{ if .IsHome }}{{ .Site.Title }}{{ else if .Title }}{{ .Title }} | {{ .Site.Title }}{{ else }}{{ delimit (split .Summary " " | first 5) " " }} … | {{ .Site.Title }}{{ end }}{{ end }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  {{ if templates.Exists "partials/microhook-uncss.html" }}
  {{ partial "microhook-uncss.html" . }}
  {{ else }}
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
  {{ end }}
  {{ if templates.Exists "partials/microhook-unfontawesome.html" }}
  {{ else }}
  <link rel="stylesheet" href="{{ "css/all.min.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
  {{ end }}
  {{ partial "microblog_head.html" . }}
  {{ if templates.Exists "partials/microhook-head.html" }}
  {{ partial "microhook-head.html" . }}
  {{ end }}
</head>
