{{ if templates.Exists "partials/microhook-pagination.html" }}
    {{ partial "microhook-pagination.html" . }}
{{ else }}

<div class="post-nav">
    {{ if $pag.HasPrev }}
    <span class="prev">
        <a href="{{ $paginator.Prev.URL }}" title="Previous Page"><span class="arrow">← Newer Posts</span></a>
    </span>
    {{ end }}
    {{ if $pag.HasNext }}
    <span class="next">
        <a href="{{ $paginator.Next.URL }}"><span class="arrow">Older Posts →</span></a>
    </span>
    {{ end }}
</div>

{{ end }}
