{{ define "main" }}
<div class="posts h-feed">
        {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 20) }}
		{{ range $paginator.Pages  }}
        	<ul class="post_list">
                {{ if .Title }}
                	<li class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "2 January 2006" }}</time></li>
				{{ else }}
		            <li class="post-truncated"><a href="{{ .Permalink }}">{{ .Content | plainify | truncate 50 }}</a><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "2 January 2006" }}</time></li>
				{{ end }} 
			</ul>             
        {{ end }}
</div>
<div class="post-nav">
    {{ if $paginator.HasPrev }}
        <span class="prev">
			<a href="{{ $paginator.Prev.URL }}" title="Previous Page">
				<span class="arrow">←</span> Newer Posts
			</a>
        </span>
    {{ end }}
    {{ if $paginator.HasNext }}
        <span class="next">
            <a href="{{ $paginator.Next.URL }}">
                Older Posts<span class="arrow">→</span>
            </a>
        </span>
    {{ end }}
</div>
{{ end }}