{{ define "main" }}
<div class="home h-feed">

  <ul class="post-list">
	{{ if .Site.Params.paginate_replies }}
		{{ $paginator := .Paginate (where .Data.Pages.ByDate.Reverse "Type" "reply") }}
		{{ $list := $paginator.Pages }}
		{{ range $list  }}
		  <li class="h-entry">
			{{ if .Title }}
				<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
			{{ end }}

			<a href="{{ .Permalink }}" class="u-url"><span class="post-meta"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time></span></a>

			<div class="e-content">
				{{ .Content }}
			</div>
		  </li>
		{{ end }}
    {{ else }}
		{{ $list := first 25 (where .Data.Pages.ByDate.Reverse "Type" "reply") }}
		{{ range $list  }}
		  <li class="h-entry">
			{{ if .Title }}
				<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
			{{ end }}

			<a href="{{ .Permalink }}" class="u-url"><span class="post-meta"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "Jan 2, 2006" }}</time></span></a>

			<div class="e-content">
				{{ .Content }}
			</div>
		  </li>
		{{ end }}
    {{ end }}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "feed.xml" | absURL }}">via RSS</a></p>

</div>
{{ end }}